:root {
  --background-color: #ffffff;
  --primary-color: #007acc;
  --text-color: #333333;
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Base body style */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding: 0.3rem;
}